@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("assets/imgs/christmas.png");
    background-repeat:repeat;
    background-color: rgba(32, 33, 36, 80%);
}

.christmas-hat {
    left: 5px;
    top: -25px;
    width: 140px;
    position: absolute;
    transform: scaleX(-1) rotate(-40deg);
    margin: -10px 0px;
}
